.game {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
  }
  
  .game-board {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  

  